.opening-hours-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
    max-width: 500px;
    margin: auto;

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
            display: flex;
            justify-content: space-between;

            &.current-day {
                font-weight: bold;
                color: $primary-color;
            }
        }
    }
}
