$primary-color:                                 #46AC42  !default;

/// == Grey
$white:                                         #ffffff !default;
$black:                                         #000000 !default;
$grey-25:                                       #f8f8f8 !default;
$grey-50:                                       #f3f3f3 !default;
$grey-100:                                      #eaeaea !default;
$grey-200:                                      #d8d8d8 !default;
$grey-300:                                      #bfbfbf !default;
$grey-400:                                      #aaaaaa !default;
$grey-500:                                      #979797 !default;
$grey-600:                                      #737373 !default;
$grey-700:                                      #555555 !default;
$grey-800:                                      #393838 !default;
$grey-900:                                      #1f1f1f !default;

$border-md:									 20px !default;

// == Transitions
$transition-hover:                           0.1s !default;
$transition-hover-md:                        0.2s !default;

